django>=5.0.0
gunicorn
whitenoise
dj-database-url
psycopg2-binary
django-allauth
requests
requests-oauthlib
python3-openid
PyJWT==2.10.1
cloudinary
django-cloudinary-storage
pillow
cryptography
pyOpenSSL
cffi
certifi
defusedxml
python-dotenv
google-genai==0.3.0
google-generativeai==0.8.3
django-cors-headers
python-dotenv



