django>=5.0.0
gunicorn
whitenoise
dj-database-url
psycopg2-binary
django-allauth
requests
requests-oauthlib
python3-openid
PyJWT==2.10.1
cloudinary
django-cloudinary-storage
pillow
cryptography
pyOpenSSL
cffi
certifi
defusedxml
python-dotenv
